NODE_ENV=production

# db config
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USER=
DB_PASSWORD=

DATABASE_URL=

# redis config
REDIS_URL=
REDIS_USERNAME=
REDIS_PASSWORD=

# elasticsearch config
ELASTIC_URL=

# koa-session config
NEW_SESSION_KEY=
OLD_SESSION_KEY=

# crypto config
PBKDF2_SALT=
AES_KEY=
CERT_COMMON_PUBLIC_KEY_PATH=
CERT_COMMON_PRIVATE_KEY_PATH=

# jwtwebtoken config
OLD_JWT_TOKEN_SECRET=
NEW_JWT_TOKEN_SECRET=